<h3>USER PROFILE</h3>

<div class="userProfileCont">

  <div class="orderProfileHead">
    <p>Profile Information</p>
  </div>
  <div class="profileLabelCont">
    <span class="profileLabel">Name:</span>
    <span class="profileLabel">Email:</span>
    <span class="profileLabel">Address:</span>
  </div>
  <div class="orderProfileInfo">
    <p>
      <%= @user.name %>
    </p>
    <p>
      <%= @user.email %>
    </p>
    <p>
      <%= @user.address %>
    </p>
    <%= link_to "Edit", edit_user_path, :class => "userEditButton" %>
  </div>
</div>

<div class="orderHistoryUser">
  <% unless @user.orders.empty? %>
    <div class="orderHistoryHead">
      <p>Order History</p>
    </div>
  <div class=orderHistoryTable>
    <table>
      <thead>
        <th> Order Number </th>
        <th> Date </th>
        <th> Total Price </th>
      </thead>
      <% @orders.each do |u| %>
        <tr>
          <td>
            <%= link_to "##{u.id.to_s.rjust(5, '0')}", order_path(u.id) %>
          </td>
          <td>
            <%= u.created_at.localtime.strftime('%c') %>
          </td>
          <td>
            <%= number_to_currency(u.total(u.line_items)) %>
          </td>
        </tr>
      <% end %>
    </table>
  </div>
  <div class="pagn">
    <%= will_paginate @orders %>
  </div>
  <% end %>
</div>

<div class="wishListContainer">
  <h3 class="wishListHeader">WISH LIST</h3>
  <% @current_user.wishlist.items.each do |w| %>
    <div class="wishListItem">
      <p>
        <%= link_to (image_tag w.image), item_path(w), :class => "wishListImage" %>
      </p>
      <div class="wishInfoCont">
        <p>
          <%= w.name %> <%= w.id %>
        </p>
        <p>
          <%= number_to_currency(w.price) %>
        </p>
      </div>
      <%= link_to('Remove From Wishlist', add_to_wishlist_path(w, type: "unwish"), :method => 'POST', :class => 'removeWL') %>
      <%= link_to 'Add to Cart', add_to_cart_path(w.id, 1), :remote => true, :class => 'addToCartButton WL' %>
    </div>
  <% end %>
</div>
