<h1>Order <%= @order.id %></h1>

<p><%= @order.user.name %></p>

<table class="orderTable">
  <thead>
    <th>Item Name</th>
    <th>Quantity</th>
    <th>Price</th>
    <th>Total per item</th>
  </thead>
<% @cart.line_items.each do |l|%>
<tr>
  <td>
    <%= l.item.name %>
  </td>
  <td>
    <%= l.quantity %>
  </td>
  <td>
    <%= number_to_currency(l.item.price) %>
  </td>
  <td>
    <%= number_to_currency(LineItem.total_per_item(l.item.price, l.quantity)) %>
  </td>
</tr>
<% end %>

<tr>
  <td colspan="3">
    Total cost
  </td>
  <td>
    <%= number_to_currency(Order.total(@cart.line_items)) %>
  </td>
</tr>
</table>
