<div class="well">
  <div class="row">
  </div>
  <div>
    <%= form_for line_item, remote: true do |f| %>
    <div class="cartLiImage">
      <%= image_tag item.image %>
    </div>
      <div class="cartLiContent">
        <div>
          <h4 class="text-right"><span><%= number_to_currency line_item.item.price %></span></h4>
          <h5><%= item.name %></h5>

          <div>
            <%= f.number_field :quantity, value: line_item.quantity, class: "liNumField", min: 1 %>
            <%= f.hidden_field :item_id, value: line_item.item_id %>
            <%= f.submit "Update Qty", class: 'liSubmitButton' %>
          </div>
        </div>
        <h5 class="">
          Total Price: <span><%= number_to_currency LineItem.total_per_item(line_item.item.price, line_item.quantity) %></span>
        </h5>
      </div>
      <div class="cartLiDelete">
        <%= link_to "x", line_item, {data: { confirm: "Are you sure you wish to delete the item '#{line_item.item.name}' from your cart?" }, method: :delete, remote: true, class: ''} %>
      </div>
    <% end %>
  </div>
</div>
