<%= form_for(@item, :html => {:multipart => true}) do |f| %>
  <div class="field">
    <%= f.text_field :name, :class => 'itemForm', :placeholder => 'name', :class => "signInUpForm" %>
  </div>
  <div class="field">
    <%= f.text_field :price, :class => 'itemForm', :placeholder => 'price', :class => "signInUpForm" %>
  </div>
  <div class="field">
    <%= f.text_area :description, :class => 'itemForm', :placeholder => 'description', :class => "signInUpForm" %>
  </div>
  <div class="field">
    <%= f.text_field :colour, :class => 'itemForm', :placeholder => 'colour', :class => "signInUpForm" %>
  </div>
  <div class="field">
    <%= f.text_field :size, :class => 'itemForm', :placeholder => 'size', :class => "signInUpForm" %>
  </div>
  <div class="field">
    <%= f.text_field :brand, :class => 'itemForm', :placeholder => 'brand', :class => "signInUpForm" %>
  </div>
  <div class="field">
    <%= f.text_field :category, :class => 'itemForm', :placeholder => 'category', :class => "signInUpForm" %>
  </div>
  <div class="field">
    <%= f.cl_image_upload :image, :class => 'itemForm', :placeholder => 'image', :class => "signInUpForm" %>
  </div>
  <div class="actions">
    <%= f.submit :class => 'itemButton', :class => 'signInUpFormButton' %>
  </div>
<% end %>
