<h1>Items Catalog</h1>

<div class="categorySearchContainer">
  <h4>Search By Category.</h4>
  <ul>
    <% Item.pluck('category').uniq.each do |c| %>
      <li><%= link_to c, items_path(:category => c) %></li>
    <% end %>
  </ul>
</div>

<div class="imageIndexContainer">
  <ul class="imageIndex">
    <% @items.each do |i| %>
    <div class=itemInfoContainer>
      <li>
        <%= link_to (image_tag i.image), item_path(i), :alt => 'i.name', :class => 'imageIndexThumb' %>
        <p>
          <%= link_to i.name, item_path(i) %>
        </p>
        <p>
          <%= number_to_currency(i.price) %>
        </p>
        <p>
          <%= button_to 'Add to cart', add_to_cart_path(i), :class => 'addToCartButton' %>
        </p>
      </li>
    </div>
    <% end %>
  </ul>
</div>
