<h3 id="front-page">Items Catalog</h3>

<div class="categorySearchContainer">
  <h4>Refine By: </h4>
  <ul>
    <% Item.pluck('category').uniq.each do |c| %>
      <li><%= link_to c, items_path(:category => c) %></li>
    <% end %>
  </ul>
</div>

<div class="imageIndexContainer">
  <ul class="imageIndex">
    <% @items.each do |i| %>
    <div class=itemInfoContainer>
      <li>
        <%= link_to (image_tag i.image), item_path(i), :alt => 'i.name', :class => 'imageIndexThumb' %>
        <p>
          <%= link_to i.name, item_path(i) %>
        </p>
        <div class="indexItemPrice">
          <p>
            <%= number_to_currency(i.price) %>
          </p>
        </div>

        <div class="wishListButton">
          <% if @current_user.present? %>
            <% if @wishlist.items.include?(i) %>
              <%= link_to(raw('<i class="fa fa-heart" aria-hidden="true"></i>'), add_to_wishlist_path(i, type: "unwish"), :method => 'POST') %>
            <% else %>
              <%= link_to(raw('<i class="fa fa-heart-o" aria-hidden="true"></i>'), add_to_wishlist_path(i, type: "wish"), :method => 'POST') %>
            <% end %>
          <% end %>
        </div>
        <div class="indexCartButton">
          <%= button_to 'Add to cart', add_to_cart_path(i), :class => 'addToCartButton' %>
        </div>
      </li>
    </div>
    <% end %>
  </ul>
</div>
