<h1>Items show</h1>

<%= image_tag @item.image %>
<p>
  <%= @item.name %>
</p>
<p>
  <%= number_to_currency(@item.price) %>
</p>
  <p>
    <%= button_to 'Add to cart', add_to_cart_path(@item), :class => 'addToCartButton' %>
  </p>

<% if @current_user.present? && @current_user.admin? %>
  <div class="controller">
    <%= link_to 'edit', edit_item_path%> |
    <%= link_to 'destroy', @item, method: :delete %>
  </div>
<% end %>
