<!DOCTYPE html>
<html>
<head>
  <title>This App</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <script type="text/javascript" src="https://js.stripe.com/v2/"></script>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav>
    <div class="navbar">
      <div class="navleft">
        <%= link_to "Home", root_path, :class => 'nav' %>
        <% if @current_user.present? %>
          <%= link_to "Profile", user_path(@current_user) %>
          <%= link_to "Items", items_path %>
          <% if @current_user.admin? %>
            <%= link_to "Orders", orders_path %>
          <% end %>
        <% end %>
      </div>
      <div class="navLogo">This.</div>
      <div class="navright">

        <ul class="search-box">
          <%= form_tag(items_path, :method => "get", id: "search-form") do %>
            <%= text_field_tag :search, params[:search], placeholder: " Search Items", class: "searchText" %>
            <%= submit_tag "", :name => nil, :class => "searchSubmit" %><div class="searchIcon">⚲</div>
                                                                        
          <% end %>
        </ul>

        <% if @current_user.present? %>
          <%= link_to "Logout #{ @current_user.name }", login_path, :method => 'delete', :class => "logoutButton" %>
        <% else %>
          <%= link_to 'Sign in', login_path, :class => "signInOutButton" %>
          <%= link_to 'Sign up', new_user_path, :class => "signInOutButton"  %>
      </div>
        <% end %>
    </div>
  </nav>
  <div class="container">
    <h1 class="cart-text"><%= render 'layouts/cart_text' %></h1>
    <!-- <div class="shoppingCart">
    </div> -->

    <%= yield %>

  </div>
</body>
</html>
