<!DOCTYPE html>
<html>
<head>
  <title>This App</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <script type="text/javascript" src="https://js.stripe.com/v2/"></script>
  <%= csrf_meta_tags %>
  <%= cloudinary_js_config %>
</head>
<body>
  <nav>
    <div class="navbar">
      <div class="navleft">
        <%= link_to "HOME", root_path, :class => 'nav' %>
        <%= link_to "ITEMS", items_path %>

        <% if @current_user.present? %>
          <%= link_to "PROFILE", user_path(@current_user) %>
          <% if @current_user.admin? %>
            <%= link_to "ORDERS", orders_path %>
          <% end %>
        <% end %>
      </div>
      <div class="navLogo">This.</div>
      <div class="navright">

        <ul class="search-box">
          <%= form_tag(items_path, :method => "get", id: "search-form") do %>
            <%= text_field_tag :search, params[:search], placeholder: " Search Items", class: "searchText" %>
            <%= submit_tag "", :name => nil, :class => "searchSubmit" %>
            <%= submit_tag "⚲", :name => nil, :class => "searchIcon" %>

          <% end %>
        </ul>

        <% if @current_user.present? %>
          <%= link_to "Logout #{ @current_user.name }", login_path, :method => 'delete', :class => "logoutButton" %>
        <% else %>
          <%= link_to 'Sign in', login_path, :class => "signInOutButton" %>
          <%= link_to 'Sign up', new_user_path, :class => "signInOutButton"  %>
      </div>
        <% end %>
    </div>
  </nav>
  <div class="container">
    <h1 class="cart-text"><%= render 'layouts/cart_text' %></h1>

    <%= yield %>

  </div>
  <footer>
    <div class="footerCont">
      <div class="footerColOne">
        <ul>
          <li><h4>THIS.</h4></li>
          <li>About Us</li>
          <li>Terms & Conditions</li>
          <li>Privacy Policy</li>
        </ul>
      </div>
      <div class="footerColTwo">
        <ul>
          <li><h4>HELP & SUPPORT<h4></li>
          <li>About Us</li>
          <li>Terms & Conditions</li>
          <li>Privacy Policy</li>
        </ul>
      </div>
      <div class="footerColThree">
        <ul>
          <li><h4>FOLLOW US<h4></li>
          <li><i class="fa fa-facebook-square" aria-hidden="true"></i> Facebook</li>
          <li><i class="fa fa-twitter-square" aria-hidden="true"></i> Twitter</li>
          <li><i class="fa fa-instagram" aria-hidden="true"></i> Instagram</li>
          <li><i class="fa fa-youtube" aria-hidden="true"></i> Youtube</li>
        </ul>
      </div>
      <div class="footerColFour">
        <ul>
          <li><h4>STAY IN TOUCH<h4></li>
          <li>Subscribe to our newsletter and get a $10 voucher for your next purchase.</li>
          <li>
            <%= text_field_tag "", nil, :placeholder => "Email", :class => "subscribeEmail" %>
            <button class="subscribeButton">SUBMIT</button>
          </li>
        </ul>
      </div>
    </div>
  </footer>
</body>
</html>
