<!DOCTYPE html>
<html>
<head>
  <title>This App</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav>
    <div class="navbar">
      <div class="navleft">
        <%= link_to "Home", root_path, :class => 'nav' %>
        <% if @current_user.present? %>
          <%= link_to "Profile", user_path(@current_user) %>
          <%= link_to "Items", items_path %>
        <% end %>
      </div>
      <div class="navright">
        <% if @current_user.present? %>
          <%= link_to "Logout #{ @current_user.name }", login_path, :method => 'delete', :class => "logoutButton" %>
        <% else %>
          <%= link_to 'Sign in', login_path, :class => "signInOutButton" %>
          <%= link_to 'Sign up', new_user_path, :class => "signInOutButton"  %>
      </div>
        <% end %>
    </div>
  </nav>
  <div class="container">

    <%= yield %>

  </div>
</body>
</html>
